.containerFriends {
  width: 100px;
  height: 100%;
  border: 3px solid black;
  border-radius: 5px;
}

.friendsList {
  display: flex;
  gap: 5px 10px;
  justify-content: space-between;
  padding: 0;
}

.friendListItem {
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px 10px;
}
